<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/index_css.css">
</head>

<body>
<!-- Place this block at the top of your HTML body -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <div class="login-container">
        <form class="login-form" action="/login" method="post">
            <h1 class="login-title">Sign In</h1>
            <div class="input-group">
                <input type="text" name="username" required placeholder="Username">
            </div>
            <div class="input-group">
                <input type="password" name="password" required placeholder="Password">
            </div>
            <a href="#" class="forgot-password">Forgot Password?</a>
            <button type="submit" class="login-button">Login</button>
            <div class="signup-link">Don't have an account? <a href="/signup">Create one here</a></div>
        </form>
    </div>
    <footer>
        <p>Designed and Developed by Manan</p>
        <a href="#">Github Repo</a>
    </footer>
</body>
</html>
