<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="../static/css/signup_css.css">
</head>
<body>
    <div class="signup-container">
        <form class="signup-form" action="/signup" method="post">
            <h1 class="signup-title">Create Account</h1>
            <div class="input-group">
                <input type="text" name="username" required placeholder="Username">
            </div>
            <div class="input-group">
                <input type="password" name="password" required placeholder="Password">
            </div>
            <div class="input-group">
                <input type="text" name="role" required placeholder="Role (e.g., admin)">
            </div>
            <div class="input-group">
                <input type="text" name="organization" required placeholder="Organization">
            </div>
            <button type="submit" class="signup-button">Sign Up</button>
            <div class="login-link">Already have an account? <a href="/">Login here</a></div>
        </form>
    </div>
    <footer>
        <p>Designed and Developed by Manan</p>
        <a href="#">Github Repo</a>
    </footer>
</body>
</html>
